# Editor configurations
.vs/
.idea/

# Environment files
node_modules/
out/
*.d*

# User files
.env*
!.env*.template

# Project files
*.vsix

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
